html, body {
    margin: 0;
    height: 100%;
    background-color: #343a40;
    color: white;
    font-family: "Roboto";
}

header {
    height: 60px;
    background-color: white;
    color: black;
}

header>nav {
    max-width: 720px;
    padding: 12px 20px;
    margin: 0 auto;
}

header>nav>label {
    font-size: 32px;
    margin-top: 10px;
}

header>nav>ul {
    float: right; /* 오른쪽으로 정렬 */
    margin-top: 10px;
}

header>nav>ul>li {
    float: left;
    list-style: none; /* list스타일 없애기 */
    margin-left: 10px;
}

header>nav>ul>li>a {
    color: #6c757d;
    text-decoration: none;
    font-weight: bold;
}

header>nav>ul>li>a.active {
    color: #343a40;
    border-bottom: 3px solid #343a40;
}

footer {
    max-width: 720px;
    margin: 0 auto;
    height: 20px;
    padding: 20px;
    text-align: center;
}

footer>p {
    margin: 0;
}

main {
    height: calc(100% - 120px); /* 계산할 때 calc함수 필요 */
    padding: 0 20px;
    max-width: 720px;
    margin: 0 auto;
    text-align: center;

    /* 수직 가운데 정렬하기 위해 display를 table로 설정 */
    display: table;
}

/* 수직 가운데 정렬 */
main>section {
    display: table-cell;
    vertical-align: middle;
}

main>section>button {
    padding: 16px 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

main>section>button:hover {
    background-color: #F33;
    color: white;
}